.autorization__button-submit {
    min-width: 358px;
    min-height: 50px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    background-color: #FFFFFF;
    border-radius: 2px;
    margin-bottom: 112px;
    cursor: pointer;
}